.border_y{
    border: 5px solid yellow;
}
.border_blue{
    border: 5px solid blue;
}
.bg_Monza{
    background: rgb(195, 31, 42);
}
.bg_Android_Green{
    background: rgb(158, 189, 50);
}
.bg_Storm_Dust{
    background: rgb(97, 97, 97);
}
.bg_Boulder{
    background: rgb(124, 124, 124);
}
/* color schema para el ColorMode */
.dark-mode body {
    background-color: #091a28;
    color: #ebf4f1;
}
.icon_size{
    font-size: 1.5rem;
}
.icon_size_2{
    font-size: 1.2rem;
}
.border_b{
    border: 5px solid blue;
}

.border_black{
    border: 5px solid black;
}
.border_g{
    border: 5px solid green;
}
.border_v{
    border: 5px solid violet;
}